* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Raleway", sans-serif;
}

html{
  height: 100%;
}

body {
  display: block;
  margin: 0;
  padding: 0;
  height: 100%;
}

/* wrapper */
#wrapper {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
  background: -webkit-linear-gradient(90deg, #FF4E50 10%, #F9D423 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #FF4E50 10%, #F9D423 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #FF4E50 10%, #F9D423 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #FF4E50 10%, #F9D423 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #FF4E50 10%, #F9D423 90%); /* W3C */
}

/* header */
#header {
  height: 25%;
}

#title {
  padding: 0;
  margin: 0;
  text-align: center;
  padding-top: 12%;
  font-size: 2.875em;
}

/* content */
#content {
  height: 65%;
}

#content p {
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 1.25em;
  margin: 4% 0 auto 0;
}

#progressbar-group{
  display: inline-block;
  width: 100%;
  text-align: center;
}

#progressbar-text{
  margin: 4% 0 1% 0;
}

#content #progressbar{
  width: 15em;
  height: 1em;
  background-color: rgba(0, 0, 0, 0.1);
  /* overwrite jquery default style */
  display: inline-block;
  background-image: none;
  color: #ffffff;
  font-size: 0.8em;
  border-color: white;
}

#content .ui-progressbar-value{
  /* overwrite jquery style */
  margin: 0;
  border: none;
  background-image: none;
  background-color: #ffffff;
}

#start-btn{
  display: none;
  text-align: center;
  margin-top: 5%;
}

#content a {
  text-shadow: 0 0.08em 0 rgba(0, 0, 0, 0.1);
  padding: .5em 1.2em;
  border: .1em solid;
  border-radius: 5px;
  color: inherit;
  text-decoration: none;
  box-shadow: 0 0.08em 0 rgba(0, 0, 0, 0.1);
}

/* footer */
#footer {
  text-align: center;
  height: 10%;;
  font-size: 0.9em;
}

#footer .link {
  color: #ffffff;
  text-decoration: none;
}

#footer .link:hover {
  text-decoration: underline;
}

#footer .link:hover:after {
  color: #ffffff;
}
